<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>A*寻路算法</title>

    <link href="css/astar_search.css" rel="stylesheet"/>
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/astar_search.js"></script>
</head>
<body>
<div class="top_container">
    设置 :
    <input type="radio" name="pointType" value="1" checked><span class="setPointType"
                                                                 onclick="setPointType(1)">起点</span>
    <input type="radio" name="pointType" value="2"><span class="setPointType" onclick="setPointType(2)">终点</span>
    <input type="radio" name="pointType" value="3"><span class="setPointType2" onclick="setPointType(3)">障碍物</span>
    <input type="button" class="setButton" value="重置障碍" onclick="clearHinders()">
    <input type="button" class="setButton" value="开始运算" onclick="starSearch()">
    <input type="button" class="setButton" value="重新开始" onclick="reset()">
    <input type="button" value="单步执行" onclick="oneStep()">
</div>
<div id="path_map" class="center_container">
</div>
<!-- 说明 -->
<div class="explain_container">
    <div class="explain_title">说明</div>
    <div class="explain_line"></div>
    <div class="explain_row">
        <div class="explain_pic begin"></div>
        <div class="explain_text">起点</div>
    </div>
    <div class="explain_row">
        <div class="explain_pic end"></div>
        <div class="explain_text">终点</div>
    </div>
    <div class="explain_row">
        <div class="explain_pic hinder"></div>
        <div class="explain_text">障碍物</div>
    </div>
    <div class="explain_row">
        <div class="explain_pic path"></div>
        <div class="explain_text">抵达路径</div>
    </div>
    <div class="explain_row">
        <div class="explain_pic_close"></div>
        <div class="explain_text">探索过的方块</div>
    </div>
    <div class="explain_row_last">
        <div class="explain_pic closePath"></div>
        <div class="explain_text">关闭的方块</div>
    </div>
</div>
</body>
</html>
