.top_container {
    margin-bottom: 10px;
}

.center_container {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    background: #F3F3F3;
}

/* 方块 */
.point {
    padding: 0;
    width: 68px;
    height: 68px;
    border: 1px solid;
    float: left;
}

/* 障碍物 */
.hinder {
    background: #000000;
}

/* 起点 */
.begin {
    background: #2e7d32;
}

/* 终点 */
.end {
    background: #d32f2f;
}

span {
    color: #0f76c2;
}

/* 路径 */
.path {
    background: orange;
}
