.top_container {
    width: 700px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.center_container {
    margin: 10px auto;
    width: 700px;
    height: 700px;
    background: #F3F3F3;
}

/* 方块 */
.point {
    position: relative;
    padding: 0;
    width: 68px;
    height: 68px;
    border: 1px solid;
    float: left;
}

/* 障碍物 */
.hinder {
    background: #000000;
}

/* 起点 */
.begin {
    background: #2e7d32;
}

/* 终点 */
.end {
    background: #d32f2f;
}

span {
    color: #0f76c2;
}

/* 路径 */
.path {
    background: orange;
}

/* 设定方块类型 */
.setPointType {
    cursor: pointer;
    margin: 0 10px 0 0px;
}

/* 设定方块类型 */
.setPointType2 {
    cursor: pointer;
    margin: 0 30px 0 0px;
}

.setButton {
    margin: 0 30px 0 0px;
}

.span_f {
    position: absolute;
    text-align: left;
    display: block;
    width: 30px;
    height: auto;
    top: 3px;
    left: 3px;
    font-size: 12px;
    color: azure;
}

.span_g {
    position: absolute;
    text-align: left;
    display: block;
    width: 30px;
    height: auto;
    bottom: 3px;
    left: 3px;
    font-size: 12px;
    color: azure;
}

.span_h {
    position: absolute;
    text-align: right;
    display: block;
    width: 30px;
    height: auto;
    bottom: 3px;
    right: 3px;
    font-size: 12px;
    color: azure;
}

.endPointText {
    position: absolute;
    display: block;
    top: 14.2px;
    left: 19px;
    font-size: 30px;
    font-weight: bold;
    color: azure;
}

.onceOpen {
    border: 1px solid green;
}

.onceOpenSpan {
    color: #2e7d32;
}
